<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.omarkrostom.azanEdge">

    <uses-permission android:name="com.samsung.android.providers.context.permission.WRITE_USE_APP_FEATURE_SURVEY" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".oldApp.AzanEdgeApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_azan_edge_icon"
        android:label="@string/app_title"
        android:roundIcon="@drawable/ic_azan_edge_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Activities -->
        <activity
            android:name=".oldApp.activities.SettingsActivity"
            android:screenOrientation="portrait">

            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>

        </activity>

        <activity
            android:name=".oldApp.activities.ManualTimesActivity"
            android:screenOrientation="portrait" />

        <!-- Broadcast Receivers -->
        <receiver android:name=".oldApp.widgetProviders.AzanEdgeSinglePlusProvider">
            <intent-filter>
                <action android:name="com.samsung.android.cocktail.v2.action.COCKTAIL_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="com.samsung.android.cocktail.provider"
                android:resource="@xml/azan_edge_single_plus" />
        </receiver>

        <receiver android:name=".oldApp.widgetProviders.AzanEdgeHorizontalProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/azan_edge_horizontal" />
        </receiver>

        <!-- Meta Data -->
        <meta-data
            android:name="com.samsung.android.cocktail.mode"
            android:value="edge_single_plus" />

        <meta-data
            android:name="com.bugsnag.android.API_KEY"
            android:value="16546c98efa2ab8d7311a6853cb6f274" />

    </application>

</manifest>