<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.omarkrostom.azanEdge">

    <uses-permission android:name="com.samsung.android.providers.context.permission.WRITE_USE_APP_FEATURE_SURVEY" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_azan_edge_icon"
        android:label="@string/app_title"
        android:roundIcon="@drawable/ic_azan_edge_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Activities -->
        <activity
            android:name="com.omarkrostom.azanEdge.activities.SettingsActivity"
            android:screenOrientation="portrait" />

        <!-- Broadcast Receivers -->
        <receiver android:name="com.omarkrostom.azanEdge.broadcastReceivers.EdgeSinglePlusProvider">
            <intent-filter>
                <action android:name="com.samsung.android.cocktail.v2.action.COCKTAIL_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="com.samsung.android.cocktail.provider"
                android:resource="@xml/edge_single_plus" />
        </receiver>

        <!-- Meta Data -->
        <meta-data
            android:name="com.samsung.android.cocktail.mode"
            android:value="edge_single_plus" />

    </application>
</manifest>
